<section id="about-me">
   
    <h3>Про меня</h3>
    
     <div class="face-lockup">
        <div class="wavy-line-1">{% include svg/line-wavy.html %}</div>
        <div class="face-img"></div>
        <div class="wavy-line-2">{% include svg/line-wavy.html %}</div>
     </div>

<!--   <p class="blurb"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Vivamus volutpat mattis mauris non gravida. Nulla et laoreet diam, eget porta mi. Proin suscipit risus leo, non molestie eros eleifend et. Integer hendrerit fringilla suscipit. Duis ut lobortis nulla, nec fermentum justo. Nullam vitae pharetra lorem. Maecenas porta pellentesque mauris vel tempus. Etiam pretium enim non placerat aliquet. In placerat ornare cursus. Mauris molestie tortor tortor, nec pellentesque urna porttitor sit.</p> -->
    
    <p class="blurb"><strong>Привет, меня зовут Денис</strong> и я расскажу немного о себе. Шучу, не расскажу. Хотя нет, если вы так настаиваете, то расскажу... Родился я в далеком 1998 году, на юге заколдованой страны в маленьком городишке — Николаеве. В детстве меня часто бил недруг. От него я убегал в лес и делал там свой первый дизайн. Первым моим проектом был его фоторобот. Мама еще тогда заметила мои творческие способности и рассказала всем знакомым что у нас на селе теперь новый дизайнер (старый уехал учиться в БВШД). С тех пор и началась моя карьера motion-artist'а.</p>
    
    <h3>Навыки</h3>

    <div class="skill-lockup">

        <div class="skill-unit">
            <div class="slill-label">Photoshop</div>
            <div class="skill-progressbar">
                <div style="width: 80%"></div>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="slill-label">After Effects</div>
            <div class="skill-progressbar">
                <div style="width: 90%"></div>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="slill-label">illustrator</div>
            <div class="skill-progressbar">
                <div style="width: 35%"></div>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="slill-label">Cinema 4D</div>
            <div class="skill-progressbar">
                <div style="width: 70%"></div>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="slill-label">HTML/CSS</div>
            <div class="skill-progressbar">
                <div style="width: 40%"></div>
            </div>
        </div>
        
    </div>

</section>


