<section class="section-contacts" id="contacts-section">
    
    <h3 id="contacts">Контакты</h3>
    
    <p class="text-email">
        Есть вопросы? Пришлите их на email:
    </p>
    
    <a class="email" href="mailto:denlukianenko.com">
        denlukianenko@gmail.com
    </a>
    
</section>

<section>
    <p class="text-form">
        Или напишите чет прямо тут:
    </p>
    
    <form action="//formspree.io/your@email.com"
      method="POST">
       <div class="contact-info">
            <input type="text" name="name" placeholder="Ваше имя">
            <input type="email" name="_replyto" placeholder="Ваш email">
        </div>
        <input type="text" name="Тема" placeholder="Тема">
        <textarea name="" placeholder="Текст сообщения" id="" cols="" rows=""></textarea>
        <div class="submit-wrap"><input type="submit" value="ОТПРАВИТЬ"></div>
    </form>
    
</section>