<section class="section-works" id="works-section">
    
    <h3 id="works">Работы</h3>
    {% for project in site.data.settings.projects %}
        <input type="radio" name="trigger" class="trigger" id="{{ project.thumb-folder }}">
    {% endfor %}
    <input type="radio" name="trigger" class="return" id="return">
    
    <div class="work-belt">
        <div class="thumb-wrap">
            <div class="thumb-container"> 
           {% for project in site.data.settings.projects %} 
            <label for="{{ project.thumb-folder }}">
                <div class="grid" data-folder="{{ project.thumb-folder }}">
                    <figure class="effect-bubba">
                        <img src="{{ site.baseurl }}/assets/img/work/{{ project.thumb-folder }}/thumb.jpg" alt=""/>
                        <figcaption>
                            <h2>{{ project.name }}</h2>
                            <p>{{ project.description }}</p>
                           <!-- <a href="#">View more</a> -->
                        </figcaption>			
                    </figure>
                </div>
            </label>
            {% endfor %}
            </div>
        </div>
        <div class="work-wrap">
            <div class="work-container">
                <label for="return">
                    <div class="exit-button">{% include svg/exit-button.html %}</div>
                </label>
                <h4 class="project-title"></h4>
                <div class="project-load"></div>
                
                <noscript>
                {% for project in site.data.settings.projects %}
                     <div class="noscript" id="content-{{ project.thumb-folder }}">
                            <h4 class="project-title">{{ project.name }}</h4>
                            <div class="noscript-load">{% include {{project.file}} %}</div>
                     </div>
                {% endfor %}
                </noscript> 
            </div> 
        </div>   
    </div>
</section>